<h1>Main</h1>

{{> all}}

<!-- Script tag: Ensure the path is correct -->
<script src="js/js/app.js" defer></script>

<div>
    <form>
        <input placeholder="City">
        <button type="submit">Get Weather</button>
    </form>
</div>

<p id="respo">
    The temperature is:
</p>
